.font-type{
    font-family: sans-serif;
}

/* nav-bar */

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding:30px 80px;
}

.h2{
    color:rgb(12, 12, 12);
    display: flex;
    margin-left: 80px;
    padding-left: 70px;
}

.menu{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    gap: 30px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 100px;
}

.logo{
    width: 40px;
    height: 40px;
    padding-top:10px ;
}

.btn{
    background-color: rgba(165,61,255,1);
    color: aliceblue;
    padding:18px 20px;
    border: none;
    border-radius: 4px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
}

/* hero-section */

.hero{
    display: flex;
}

.f-content{
    margin-left: 250px;
    margin-top: 100px;
}

.text{
    margin-left: 3px;
    margin-bottom: 35px;
}

#h1{
    font-size: 40px;
}

#p{
    color: gray;
}

.btn-1{
    background-color: rgba(165,61,255,1);
     color: aliceblue;
    padding:18px 20px;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 50px;
}

/* hero-state */

.hero-state{
    display: flex;
}

.item-state{
    background-color: rgba(237, 216, 255, 0.5);
    margin: 10px;
    padding: 20px 40px;
    border-radius: 4px;
    width: 150px;
    height: 70px;
}

.hero-text{
    text-align: center;
    color: gray;
}

.text-state{
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 1px;
}

/* subject */

.main-img img{
    width: 600px;
    margin-left: 100px;
}

/* pg-2 */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* CARD */
.card {
    width: 900px;
    height: 400px;
    background: hsl(0, 13%, 95%);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    gap: 50px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/* LEFT IMG */
.left {
    text-align: center;
}

.left img {
    width: 400px;
    height: 450px;
    border-radius: 10px;
    margin-top: -5px;
}


/* RIGHT text */
.right{
    margin-left: 50px;
    margin-top: 70px;
}

.right h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.right p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

/* BUTTONS */
.buttons {
    margin-top: 15px;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.btn1 {
    background: rgba(165,61,255,1);
    color: white;
}

.btn2 {
    background: transparent;
    border: 1px solid rgba(165,61,255,1);
    color: rgba(165,61,255,1);
}
#icon{
    margin-right: 7px;  
    width: 15px;  
}
