.nav-bar{
    display: flex;
    justify-content: space-between;
    padding:30px 80px;
}
.menu{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    gap: 30px;
}

.h2{
    color:rgba(165,61,255,1);
}

.btn{
    background-color: rgba(165,61,255,1);
    color: aliceblue;
    padding:18px 20px;
    border: none;
    border-radius: 4px;
    width: 150px;
    height: 50px;
}