.font-type{
    font-family: sans-serif;
}

/* nav-bar */

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding:30px 80px;
}

.h2{
    color:rgb(12, 12, 12);
    display: flex;
    margin-left: 80px;
    padding-left: 70px;
}

.menu{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    gap: 30px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 100px;
}

.logo{
    width: 40px;
    height: 40px;
    padding-top:10px ;
}

.btn{
    background-color: rgba(165,61,255,1);
    color: aliceblue;
    padding:18px 20px;
    border: none;
    border-radius: 4px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
}

/* hero-section */

.hero{
    display: flex;
}

.f-content{
    margin-left: 250px;
    margin-top: 100px;
}

.text{
    margin-left: 3px;
    margin-bottom: 35px;
}

#h1{
    font-size: 40px;
}

#p{
    color: gray;
}

.btn-1{
    background-color: rgba(165,61,255,1);
     color: aliceblue;
    padding:18px 20px;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 50px;
}

/* hero-state */

.hero-state{
    display: flex;
}

.item-state{
    background-color: rgba(237, 216, 255, 0.5);
    margin: 10px;
    padding: 20px 40px;
    border-radius: 4px;
    width: 150px;
    height: 70px;
}

.hero-text{
    text-align: center;
    color: gray;
}

.text-state{
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 1px;
}

/* subject */

.main-img img{
    width: 600px;
    margin-left: 100px;
}

/* pg-2 */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* CARD */
.card {
    width: 900px;
    height: 400px;
    background: hsl(0, 13%, 95%);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    gap: 50px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/* LEFT IMG */
.left {
    text-align: center;
}

.left img {
    width: 400px;
    height: 450px;
    border-radius: 10px;
    margin-top: -5px;
}


/* RIGHT text */
.right{
    margin-left: 50px;
    margin-top: 70px;
}

.right h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.right p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

/* BUTTONS */
.buttons {
    margin-top: 15px;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.btn1 {
    background: rgba(165,61,255,1);
    color: white;
}

.btn2 {
    background: transparent;
    border: 1px solid rgba(165,61,255,1);
    color: rgba(165,61,255,1);
}
#icon{
    margin-right: 7px;  
    width: 15px;  
}

/* pg-3 */
.pg-3{
    display: flex;
    justify-content: center;
    gap: 70px;
    background-color: rgba(240, 241, 243, 1);
    height: 590px;
    margin-top: 50px;
}

/* left text */
.text-3{
    margin-top: 150px;
}

.text-3 p{
    color: #666;
}
/* right card */


.right-c{
    display: flex;
    gap: 14px;
    margin-top: 40px;
    
}

.card-0{
    background-color: #fdfdfd;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: 250px;
    height: 200px;
    margin: 5px;
    margin-bottom: 20px;
    padding: 15px;
}

.card-p{
    margin-top: 30px;
}

/* page-4 */

/* top text */
.top-text{
    text-align: center;
}

/* main-box-top */
.main-box1{
    display: flex;
    gap: 80px;
    justify-content: center;
    height: 470px;
}

.box-1{
    background-color: rgb(250, 250, 250);
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.box-1 h5{
    color: #666;
}

.box-1 h4{
    font-weight: bolder;
}
 .box-1 p{
    color: #666;
 }

 .box-1 button{
    border: 1px solid rgba(165,61,255,1);
    background: transparent;
    color:  rgba(165,61,255,1);

    display: flex;
    align-items: center;
    gap: 8px;
 }

 .icon-1{
   width: 16px;
   height: 16px;
 }

 .box-1-t{
    margin-left: 30px;
 }

 /* main-bottom */
 .main-box2{
    display: flex;
    gap: 80px;
    justify-content: center;
    height: 470px;
    margin-top: 20px;
}

.box-2{
    background-color: rgb(250, 250, 250);
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.box-2 h5{
    color: #666;
}

.box-2 h4{
    font-weight: bolder;
}
 .box-2 p{
    color: #666;
 }

 .box-2 button{
    border: 1px solid rgba(165,61,255,1);
    background: transparent;
    color:  rgba(165,61,255,1);
    display: flex;
    align-items: center;
    gap: 8px;
 }

 .box-2-t{
    margin-left: 30px;
 }

 .btn-4{
    background-color: rgba(165,61,255,1);
    color: #fdfdfd;
    margin-left: 880px;
    margin-top: 40px;

 }

 /* pg-5 */
 .pg-5{
    text-align: center;
    background-color: rgba(19, 34, 56, 1);
    color: #fdfdfd;
    height: 400px;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    text-align: center;      
    min-height: 400px;
    margin-top: 50px;
 }

 .pg-5 p{
    color: gray;
 }

 .pg-5 button{
    background-color: rgba(165,61,255,1);
    color: #fdfdfd;
    display: flex;
    align-items: center;
    gap: 2px;
 }

 /* pg-6 */

 /* pg-6 top */
 .top6{
   text-align: center;
 }

 /* pg-6 bt */
 .bottom6{
    display: flex;
    gap: 20px   ;
    justify-content: center;
    
 }

 .bt-6{
    background-color: #fdfdfd;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
 }
 .text4{
    margin-left: 15px;
 }

 .text4 h6{
    color: gray;
 }

 /* pg-7 */
 .pg-7-m{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color:rgba(240, 241, 243, 1);
    height: 600px;
    margin-top: 50px;
 }
/* pg-7-lf */
 .pg-7-left p{
    color: #666;
 }

 /* pg-7-rg */
 .pg7r{
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    border-radius: 4px;
    height: 120px;
    width: 450px;
    padding-left: 15px;
    padding-top: 10px;
    border-left: 4px solid rgba(165,61,255,1);
    
 }
.pg7r p{
    color: #666;
}

/* pg-8 */
.pg-8{
    text-align: center;
    align-items: center;
    margin-top: 80px;
}

.pg-8 p{
    color: #666;
}

/* pg-9 */
.pg-9{
    text-align: center;
    margin-bottom: 35px;
}
#pg9{
    color: #666;
}
#pg9l{
    font-weight: bolder;
}

/* pg10 */
.pg10{
    display: flex;
    justify-content: center;
    gap: 15px;
    background: rgb(255, 255, 255) ;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    border-radius: 4px;
    height: 700px;
    width: 1200px;
    margin-left: 320px;
}